@media screen and (max-width: 1000px) {
  * {
    font-size: 20px !important;
  }
  #change-language {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 810px) {
  #box-translator {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
  #mainImg {
    display: none;
  }
  #mobileImg {
    display: block;
  }
  .translated-text,
  #input_text > textarea {
    font-size: 30px !important;
  }
  .about > svg {
    width: 30px;
    height: 30px;
  }
  * {
    font-size: 15px !important;
  }
}
@media screen and (max-width: 630px) {
  #root {
    grid-template-columns: 85% 15% !important;
  }
  .about > svg {
    width: 15px;
    height: 15px;
  }
  .translated-text,
  #input_text > textarea {
    font-size: 15px !important;
  }
  #toggleKeyboard > b {
    font-size: 10px !important;
  }
  nav {
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
  }
  #main-text {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .hide-text {
    width: 100% !important;
  }
  #image {
    grid-column: 1/2 !important;
    grid-row: 2/3 !important;
  }
  .container-change-language {
    grid-column: 2/3 !important;
    grid-row: 2/3 !important;
  }
}
@media screen and (max-width: 400px) {
  * {
    font-size: 10px !important;
  }
  #root {
    grid-template-columns: 80% 20% !important;
  }
  #change-language {
    font-size: 6px !important;
  }
}
