@media screen and (max-width: 1000px) {
  * {
    font-size: 20px !important;
  }
  #change-language {
    font-size: 50% !important;
  }
}
@media screen and (max-width: 810px) {
  #box-translator {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }
  #mainImg {
    display: none;
  }
  #mobileImg {
    display: block;
  }
  .translated-text,
  #input_text > textarea {
    font-size: 30px !important;
  }
  #change-language {
    width: 55% !important;
    height: 30% !important;
  }
  * {
    font-size: 15px !important;
  }
}
@media screen and (max-width: 630px) {
  /* * {
    font-size: 8px !important;
  } */
  .translated-text,
  #input_text > textarea {
    font-size: 30px !important;
  }
  #toggleKeyboard > b {
    font-size: 10px !important;
  }
  #change-language {
    width: 95% !important;
    height: 30% !important;
  }
}
