@font-face {
  font-family: Pacifico;
  src: url(../font/Pacifico-Regular.ttf);
}

* {
  color: black;
}

body {
  background-color: #006400 !important;
  width: 100vw;
  height: 100vh;
}

#root {
  grid-template-columns: 85% 15%;
  grid-template-rows: 15em auto 4em;
  height: 100vh;
  overflow-y: auto;
}

nav {
  grid-template-columns: calc(100% / 3);
  grid-template-rows: 100%;
  margin: 1em;
}

main {
  grid-template-columns: 1em auto 1em;
}

footer {
  width: 100%;
  color: white;
  text-align: center;
  place-items: center;
}

#main-text {
  grid-template-columns: auto auto;
}
h1 {
  color: gainsboro;
  font-family: Pacifico;
  font-size: 45px;
  align-self: center;
  text-align: center;
}
.about {
  width: auto;
  position: relative;
  height: auto;
  flex-direction: column-reverse;
  justify-content: center;
  place-self: center;
}

.about > .popup-text {
  display: none;
  position: absolute;
  background-color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  padding: 10px;
  font-size: 16px;
  left: 110%;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  border-radius: 7px;
  align-content: center;
}

.about:hover .popup-text {
  display: grid;
}
.hide-text {
  display: block;
  background: black;
  position: fixed;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: left;
  transform: translateX(-100%);
  transition: transform 1s ease-in-out;
  overflow-y: auto;
  scrollbar-width: 8px;
  scrollbar-color: gray black;
  z-index: 11;
}
.hide-text::-webkit-scrollbar {
  width: 8px;
}
.hide-text::-webkit-scrollbar-track {
  background: black;
}
.hide-text::-webkit-scrollbar-thumb {
  background: gray;
}
.hide-text::-webkit-scrollbar-thumb:hover {
  background: rgb(175, 175, 175);
}
.show-about {
  transform: translateX(0);
}
.hide-about {
  transform: translateX(-100);
}
.hide-text * {
  margin: 30px;
}
.hide-text > h2 {
  color: burlywood;
  margin-top: 1em;
}

.hide-text > b {
  color: lime;
  font-size: 40px;
}
.hide-text > p {
  font-size: 20px;
  color: white;
  word-break: break-word;
  text-indent: 40px;
  margin-top: 1em;
}
.hide-text > ul {
  font-size: 25px;
  color: orangered;
  word-break: break-word;
  margin-top: 1em;
  margin-bottom: 1em;
}
.hide-text > ul > li {
  font-size: 20px;
  color: white;
  word-break: break-word;
  margin-top: 1em;
}
.close {
  color: gray;
  font-family: cursive;
  font-size: 30px;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: 1em;
  text-align: end;
  margin: 0 !important;
  margin-right: 20px !important;
}
.close:hover {
  color: white;
}
textarea {
  vertical-align: top;
  font-size: 30px !important;
  overflow: hidden;
  resize: none !important;
  border: none;
  outline: none;
  font-family: monospace !important;
  padding: 20px;
  min-height: 250px;
  width: 100%;
}

textarea#source-text {
  padding: 20px;
}

#change_language {
  background-color: white;
}

.translated-text {
  padding: 20px;
  white-space: break-spaces;
  line-height: 30px;
  font-size: 30px !important;
}

button.key {
  background-position: center;
  cursor: pointer;
  grid-column: 1 / 2;
  width: 100%;
}

keyboard {
  top: 0rem;
  right: 0;
  grid-row: 1 / 4;
  height: 100vh;
  position: relative;
}

#translator-bar {
  place-items: center;
  grid-template-columns: calc(100% / 2 - 3em / 2) 3em calc(100% / 2 - 3em / 2);
}

div#keyboard {
  justify-content: center;
  justify-items: center;
  grid-template-columns: 100%;
}

button.key:hover {
  background-color: lightgrey;
}

button.key:active {
  background-color: grey;
}

button > b,
p {
  font-size: 50px;
}

button {
  cursor: pointer;
}

#image {
  place-items: center;
}

#toggleKeyboard {
  height: 5em;
  width: 100%;
}

.translator {
  background: white;
  grid-template-rows: 4em auto;
  grid-template-columns: 100%;
}

#box-translator {
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

div#box-translated {
  min-height: 250px;
}

#footer-text {
  color: white;
}

#copy-translate-text {
  place-content: center;
  margin-top: 2em;
}

#copy-button {
  width: 15em;
  height: 3em;
  background: darkblue;
  color: white;
}

#copy-button:hover {
  border-color: currentColor;
}

.container-change-language {
  width: 100%;
  height: 100%;
  place-content: center;
  position: relative;
}

button#change-language {
  -webkit-animation: animeOutlineStop 10s infinite alternate;
  animation: animeOutlineStop 10s infinite alternate;
  box-shadow: 0px 0px 20% 0 yellow;
  transition: box-shadow 0.5s;
  position: absolute;
  place-self: center;
  font-size: 15px;
  padding: 5px;
}

button#change-language:hover {
  box-shadow: 0px 0px 20px 20px yellow;
}

@-webkit-keyframes animeOutlineStop {
  0% {
    outline-color: red;
  }

  11% {
    outline-color: red;
  }

  22% {
    outline-color: #ff7300;
  }

  33% {
    outline-color: #fffb00;
  }

  44% {
    outline-color: #48ff00;
  }

  55% {
    outline-color: #00ffd5;
  }

  66% {
    outline-color: #002bff;
  }

  77% {
    outline-color: #7a00ff;
  }

  88% {
    outline-color: #ff00c8;
  }

  to {
    outline-color: red;
  }
}

@keyframes animeOutlineStop {
  0% {
    outline-color: red;
  }

  11% {
    outline-color: red;
  }

  22% {
    outline-color: #ff7300;
  }

  33% {
    outline-color: #fffb00;
  }

  44% {
    outline-color: #48ff00;
  }

  55% {
    outline-color: #00ffd5;
  }

  66% {
    outline-color: #002bff;
  }

  77% {
    outline-color: #7a00ff;
  }

  88% {
    outline-color: #ff00c8;
  }

  to {
    outline-color: red;
  }
}
